.idea/*
venv/*
db.sqlite3
*/migrations/*
media/comparisons/*
media/trainings/*
media/predictions/*
CRISPR_Methods/*.pkl
CRISPR_Methods/*.h5
saved_models/*
!saved_models/tmp.txt
static/user_*/*
predictions/user_*/*
CRISPR_Suite/settings.py
/etc/secret_key.txt
