{% extends "user/form_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Log In{% endblock %}

{% block form_heading %}Please Log In{% endblock %}

{% block form %}

    <form  method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button  type="submit"  class="btn btn-success">Login</button>
    <div class="form-message">
        <p>
            Don't have an account? <a href="{% url 'user:signup' %}">Sign up</a>.
        </p>
    </div>
    </form>

{% endblock %}