{% extends "user/form_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Password Reset{% endblock %}

{% block form_heading %}Password Reset{% endblock %}

{% block form %}

    <form  method="post">
    {% csrf_token %}
        <div style="text-align: center">
        <p>Enter your email address below, and we'll send you email of instructions for setting a new password.</p>
        </div>
    {{ form|crispy }}
    <div class="form-row text-center">
    <div class="col-12">
    <button  type="submit"  class="btn btn-warning">Reset Password</button>
    </div>
    </div>
    </form>


{% endblock %}