{% extends "user/form_base.html" %}

{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Signing Up is Free{% endblock %}

{% block form %}

    <form  method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button  type="submit"  class="btn btn-success">Sign Up</button>
    <div class="form-message">
    <p>
      Already signed up? <a href="{% url 'user:login' %}">Log in</a>.
    </p>
    </div>
    </form>
{% endblock form %}


