{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" is_guest=is_guest %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
    <a class="btn btn-success" href="{% url 'user:login' %}" role="button">Log in</a>
    <a class="btn btn-success" href="{% url 'user:guest_login' %}" role="button">Guest Log in</a>
    <a class="btn btn-primary" href="{% url 'user:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <h1>{% include "_brandname.html" %}</h1>
	        </div>
            <div class="col-md-8 col-sm-8">
            <h3 style="color: white">
                Check the instructions for this website <a  style="color: red" href="https://github.com/Rafid013/CRISPR-Suite/wiki/" target="_blank">here</a>.
            </h3>
            </div>
            <div class="col-md-4 col-sm-4">

            </div>
        </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a id="about"></a>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>CRISPRpred</h2>
      <p><a class="btn btn-primary" href="{% url 'crisprpred' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>CRISPRpred++</h2>
      <p><a class="btn btn-primary" href="{% url 'crisprpred_pp' %}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>CRISPRpred(SEQ)</h2>
      <p><a class="btn btn-primary" href="{% url 'crisprpred_seq' %}" role="button">View details &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

